doctype html
html
    head
    title information

    body    
        H1 Thanks for the info! The following was saved to the database: 

        h4 ID: #{_id}
        h4 Name: #{name}
        h4 Assisted by: #{assistedBy}    
        h4 Age: #{age}
        h4 Date of visit: #{dateOfVisit}
        h4 Time: #{timeOfVisit}
        h4 Comment: #{comments}